<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="/Fragments/head :: headFragment('Ver Saldo Ot')"></head>
<body>
	<!-- Fragmento Carga -->
	<div th:include="/Fragments/head :: carga" id="imagenCarga" class="carga"></div>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar(${nombre}, ${planta})"></header>
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="sidebar-wrapper"
			th:include="/Fragments/navbar :: sidebar-wrapper"></div>
		<div class="page-content-wrapper">
			<!-- Contenido Principal -->
			<div class="container">
				<!-- Título de la Vista-->
				<div class="row">
					<div class="col-sm-10">
						<h1>
							<i class="fa fa-vials"></i><strong> Escoger Muestreo</strong>
						</h1>
					</div>
				</div>
				<hr>
				<div class="card">
					<!-- Header de Card Ordenes-->
					<div class="card-header">
						<div class="row">
							<div class="col-sm-10">
								<h2>
									<strong>Muestreos</strong>
								</h2>
							</div>
						</div>
					</div>
					<!-- Cuerpo de Card-->
					<div class="card-body">
						<div class="table-responsive-sm">
							<!-- Tablas -->
							<table id="muestreosTabla"
								class="table table-hover table-condensed table-bordered tablasercosta"
								style="width: 100%;">
								<!-- Cabecera de Tabla -->
								<thead>
									<tr>
										<th>OT</th>
										<th>Fecha de Muestreo</th>
										<th>Laboratorio</th>
										<th>Cantidad Total</th>
										<th align="center"></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<!-- Modal Elegir 1-->
				<div class="modal fade" id="modalConfirmar" tabindex="-1"
					role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Presentación:</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<label>¿Desea elegir este OT?</label>
							</div>
							<div class="modal-footer">
								<button id="botonAceptar" type="button" class="btn btn-primary">Aceptar</button>
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal Error -->
				<div class="modal fade" id="modalError" tabindex="-1" role="dialog"
					aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content alert alert-danger">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Error</h5>
							</div>
							<div class="modal-body">
								<span id="mensajeError"></span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Form -->
			<form th:action = "@{VerSaldoOt/Muestra}" th:object="${saldo}" method="POST" style="visibility: hidden;">
				<input type="hidden" id="ot" name="ot" th:field="*{ot}">
				<input type="date" id="fechaMuestreado" name="fechaMuestreado" th:field="*{fechaMuestreado}">
				<input type="hidden" id="nombreLaboratorio" name="nombreLaboratorio" th:field="*{nombreLaboratorio}">
				<input type="number" id="cantidad" name="cantidad" th:field="*{cantidad}">
				<input type="submit" value="Submit" id="submit"/>
			</form>
			<!-- Fragmento Footer -->
			<div th:include="/Fragments/head :: footer"></div>
		</div>
	</div>
	<!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
	<script th:src="@{/js/verOtSaldo.js}"></script>
</body>
</html>