<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registrar OT</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/data-tables/datatables.min.css}" rel="stylesheet" type="text/css">
   	<!-- Estilos de Sercosta -->
    <link th:href="@{/style/tablasercosta.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">       
            <!-- Título de la Vista-->
            <div class="row">
	            <div class="col-sm-10">
	                <h1><strong>Registrar OT</strong></h1>
	            </div>
	            <div class="col-sm-2" style="margin: auto;">
	            	<button type="button" class="btn btn-primary" id="registrarOt">Registrar OT</button>
	            </div>
	        </div>
	        <hr> 
	        <!-- Información de la Muestra -->
            <div class="row">
	            <div class="col-sm-12">
	                <!-- Card de Muestra -->
	                <div class="card">
	                    <!-- Título de Card -->
	                    <div class="card-header">
	                            <h3>Información de la Muestra</h3>
	                    </div>
	                    <!-- Cuerpo de Card -->
	                    <div class="card-body">
	                        <!-- Fila del Cuerpo-->
	                        <div class="col-sm-15 form-inline justify-content-center">
							<!-- Código de Muestra-->
	                            <label for="codigo" class="col-sm-2">Código de Muestra</label>
	                            <input type="text" class="form-control col-sm-2" th:value="${idMuestra}" 
	                                    id="codigo" disabled>
	                            <!-- Fecha de Registro -->
	                            <label for="fechaR" class="col-sm-2">Fecha de Registro</label>
	                            <input type="date" class="form-control col-sm-2" 
	                                   id="fechaR" disabled>
	                            <!-- Laboratorio -->
	                            <label for="laboratorio" class="col-sm-2">Laboratorio</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="laboratorio" disabled>   
	                            <!-- OT-->
	                            <label for="ot" class="col-sm-2">OT</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    placeholder="Ingrese OT" id="ot" >   
	                            <!-- Fecha de Muestra -->
	                            <label for="fechaM" class="col-sm-2">Fecha de Muestra</label>
	                            <input type="date" class="form-control col-sm-2" 
	                                    placeholder="dd/mm/aaaa" id="fechaM">
	                            <!-- Estado -->
	                            <label for="estado" class="col-sm-2">Estado</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="destino" disabled> 
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
            <hr> 
            <!-- Información de Lotes -->
            <div class="row">
	            <div class="col-sm-12">
	                <!-- Card de Contenido -->
	                <div class="card">
	                    <!-- Título de Card -->
	                    <h3 class="card-header">Información de Lotes</h3>
	                    <!-- Cuerpo de Card-->
	                    <div class="card-body">	                    		            	
			            <!-- Tablas -->
	                    	<div class="tab-content">
		                    	<!-- Tabla de Lotes -->
		                    	<div id="tabla1" class="tab-pane active">
			                    	<div class="table-responsive-sm">
			                            <table id="asignacionesTabla" class="table table-hover table-condensed table-bordered" style="width: 100%;">
			                            <!-- Cabecera de Tabla -->
			                                <thead>
			                                 	<tr>
			                                        <th>Código de Lote</th>
			                                        <th>Código SAP</th>
			                                        <th>Cantidad de Contenido Muestreado</th>
			                                    </tr>
			                                </thead>
			                        	</table>  
			                    	</div>
		                    	</div>
		                    </div>
	                    </div>
	                </div>      
	            </div>
            </div>
		</div> 
        <!-- Modal Éxito -->
        <div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content alert alert-success">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Éxito </h5>
					</div>
					<div class="modal-body">
                         	<span>La OT se registró con éxito.</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
        <!-- Modal Error -->
        <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content alert alert-danger">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Error</h5>
					</div>
					<div class="modal-body">
                         	<span id="mensajeError"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>    
		<!-- Modal Confirmación -->
        <div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">OT: </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
                         	<label>¿Desea registrar esta OT?</label>
					</div>
					<div class="modal-footer">											
						<button id="botonConfirmar" type="button" class="btn btn-primary">Aceptar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
    <!-- Scrips -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/data-tables/datatables.min.js}"></script>
   	<script th:src="@{/js/embarcarorden2.js}"></script>
</body>

</html>