<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="/Fragments/head :: headFragment('Registrar OT')"></head>
<body>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar('Registrar OT')"></header>
	<!-- Fragmento Carga -->
    <div id="imagenCarga" style="display: none; position: fixed; top: 50%; left: 50%; z-index: 999;">
		<img th:src="@{/img/imagenCarga.gif}" />
	</div>
    <!-- Contenido Principal -->
	<div class="container">
		<!-- Título de la Vista-->
		<div class="row">
			<div class="col-sm-10">
				<h1>
					<strong>Escoger Muestra</strong>
				</h1>
			</div>
		</div>
		<hr>
		<div class="card">
			<!-- Header de Card Ordenes-->
			<div class="card-header">
				<div class="row">
					<div class="col-sm-10">
						<h2>
							<strong>Muestras</strong>
						</h2>
					</div>
				</div>
			</div>
			<!-- Cuerpo de Card-->
			<div class="card-body">
				<!-- Tablas -->
				<table id="muestrasTabla"
					class="table table-hover table-condensed table-bordered"
					style="width: 100%;">
					<!-- Cabecera de Tabla -->
					<thead>
						<tr>
							<th>Código de Muestra</th>
							<th>OT</th>
							<th>Fecha de Registro</th>
							<th>Fecha de Muestreo</th>
							<th>Laboratorio</th>
							<th>Cantidad Total</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<!-- Modal Elegir -->
		<div class="modal fade" id="modalConfirmar" tabindex="-1"
			role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Muestra:</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<label>¿Desea elegir esta muestra?</label>
					</div>
					<div class="modal-footer">
						<button id="botonAceptar" type="button" class="btn btn-primary">Aceptar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Error -->
		<div class="modal fade" id="modalError" tabindex="-1" role="dialog"
			aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content alert alert-danger">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Error</h5>
					</div>
					<div class="modal-body">
						<span id="mensajeError"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fragmento Footer -->
	<div th:include="/Fragments/head :: footer"></div>
	<!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
	<script th:src="@{/js/embarcarOrden.js}"></script>
</body>
</html>