<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento Head -->
<head th:include="/Fragments/head :: headFragment('SCKS')"></head>
<body>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar('Registrar Lote')"></header>
    <!-- Contenido Principal -->
    <div class="container text-center">
 		<h3>Contenido Principal por definir.</h3>
    </div>
    <!-- Fragmento Footer -->
    <div th:include="/Fragments/head :: footer"></div>    
    <!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
</body>
</html>