<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento Head -->
<head th:include="/Fragments/head :: headFragment('Retirar Contenido')"></head>
<body>
	<!-- Fragmento Carga -->
	<div th:include="/Fragments/head :: carga" id="imagenCarga"
		class="carga"></div>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar(${nombre}, ${planta})"></header>
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="sidebar-wrapper"
			th:include="/Fragments/navbar :: sidebar-wrapper"></div>
		<div class="page-content-wrapper">
			<!-- Contenido Principal -->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1>
							<i class="fa fa-box-open"></i><strong> Retirar Contenido</strong>
						</h1>
					</div>
					<div class="col-sm-3 p-3 text-center">
						<h5><span id="cantidadTotal">Cantidad Total: 0</span></h5>
					</div>
					<div class="col-sm-3 p-3 d-flex justify-content-end">
						<button type="button" class="btn btn-primary"
							id="terminarRegistro">
							<i class="fa fa-save"></i>&nbsp;Guardar
						</button>
					</div>
				</div>
				<hr>
				<div class="row" style="margin-top: 20px;">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h3>Información de la Orden de Retiro</h3>
							</div>
							<div class="card-body">
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-inline">
												<div class="text-left control-label col-sm-3"
													style="text-align: left;">Fecha de retiro:</div>
												<input type="date" class="form-control col-sm-3"
													placeholder="dd/mm/aaaa" id="fch_retiro" name="fch_retiro">
												<div class="text-left control-label col-sm-3">Motivo
													de retiro:</div>
												<select class="form-control input-sm col-sm-3"
													id="cboMotivo">
													<option value="1">Interno</option>
													<option value="2">Muestra</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row" style="margin-top: 20px;">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h3>Información de los contenidos</h3>
							</div>
							<div class="card-body">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#tabla1"> <strong>Lotes</strong>
									</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tabla2"> <strong>Contenidos a Retirar</strong>
									</a></li>
								</ul>
								<hr>
								<div class="tab-content">
									<div class="container tab-pane active" id="tabla1">
										<div class="table-responsive-sm">
											<table id="loteTabla" class="table table-bordered"
												style="width: 100%;">
												<thead>
													<tr>
														<th>Código de lote</th>
														<th>Fecha de producción</th>
														<th></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
									<div class="container tab-pane" id="tabla2">
										<div class="table-responsive-sm">
											<table id="retiroTabla" class="table table-bordered "
												style="width: 100%;">
												<thead>
													<tr>
														<th>Código de lote</th>
														<th>Fecha de Producción</th>
														<th>Código SAP</th>
														<th>Cantidad</th>
														<th></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal Lote -->
				<div class="modal fade" id="modalLote" tabindex="-1" role="dialog"
					aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg"
						role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">LOTE:</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id="cuerpoLote" class="modal-body">
								<div class="tab-content">
									<div class="container tab-pane active" id="tabla3">
										<div class="table-responsive-sm">
											<table id="loteContenidoTabla" class="table table-bordered "
												style="width: 100%;">
												<thead>
													<tr>
														<th>Código SAP</th>
														<th>Cantidad</th>
														<th>Comprometido</th>
														<th>Saldo</th>
														<th></th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal Cantidad -->
				<div class="modal fade" id="modalCantidad" tabindex="-1"
					role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Presentación:</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id="cuerpoRetirar" class="modal-body">
								<label>Cantidad a Retirar:</label> <input type="number" min="0"
									step="0.5" class="form-control input-sm" id="cantidadRetirar"
									name="cantidadRetirar" value=0>
							</div>
							<div class="modal-footer">
								<button id="botonRetirar" type="button" class="btn btn-primary">Aceptar</button>
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal Éxito -->
				<div class="modal fade" id="modalExito" tabindex="-1" role="dialog"
					aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content alert alert-success">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Éxito</h5>
							</div>
							<div class="modal-body">
								<span>La Orden de Retiro se ha registrado con éxito</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal Error -->
				<div class="modal fade" id="modalError" tabindex="-1" role="dialog"
					aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content alert alert-danger">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Error</h5>
							</div>
							<div class="modal-body">
								<span id="mensajeError"></span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fragmento Footer -->
			<div th:include="/Fragments/head :: footer"></div>
		</div>
	</div>
	<!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
	<script th:src="@{/js/retirarContenido.js}"></script>
</body>
</html>