<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Barra de Navegación -->
	<header th:fragment="navbar(nombre, planta)">
		<nav class="navbar navbar-expand-lg bg-dark shadow fixed-top">
			<div class="container-fluid">
				<a href="#menu-toggle" class="btn btn-link btn-toggler"
					id="menu-toggle"> <span class="fa fa-bars"></span>
				</a> <span class="navbar-brand text-light">&nbsp; Sistema de
					Control Kardex Sercosta</span>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">						
						<li class="nav-item"><a th:href="@{/RegistrarLote}"
							class="nav-link" title="Lotes"><i class="fas fa-boxes"></i></a></li>
						<li class="nav-item"><a th:href="@{/RegistrarMuestra}"
							class="nav-link" title="Muestras"><i class="fas fa-vials"></i></a></li>
						<li class="nav-item"><a th:href="@{/RegistrarOrdenVenta}"
							class="nav-link" title="Ordenes Venta"><i
								class="fas fa-handshake"></i></a></li>
						<li class="nav-item"><a th:href="@{/RetirarContenido}"
							class="nav-link" title="Ordenes Retiro"><i
								class="fas fa-dolly"></i></a></li>								
						<li class="nav-item form-inline">
							<i class="nav-link text-center fas fa-industry"></i>
							<span class="text-white" th:text="${planta}"></span>
						</li>		
						<li class="nav-item form-inline">
							<i class="nav-link text-center fas fa-user-tie"></i>
							<span class="text-white" th:text="${nombre}"></span>
						</li>		
						<li class="nav-item">
							<form class="text-light" th:action="@{/logout}" method="POST">
								<button class="btn btn-dark" type="submit">
									<i class="fa fa-fw fa-sign-out-alt"></i>Cerrar Sesión
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<hr><hr><hr>
	</header>
	<!-- Sidebar -->
	<div th:fragment="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="text-white"><i class="fa fa-boxes"></i> Lotes</li>
			<li><a th:href="@{/RegistrarLote}">&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="fa fa-box"></i>&nbsp; Registrar Lote
			</a></li>
			<li class="text-white"><i class="fa fa-vials"></i> Muestras</li>

			<li><a th:href="@{/RegistrarMuestra}">&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="fa fa-flask"></i>&nbsp; Registrar Muestra
			</a></li>
			<li><a th:href="@{/RegistrarOt}">&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="fa fa-tasks"></i>&nbsp; Registrar OT
			</a></li>

			<li class="text-white"><i class="fa fa-handshake"></i> Ordenes
				de Venta</li>

			<li><a th:href="@{/RegistrarOrdenVenta}">&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="fa fa-hand-holding-usd"></i>&nbsp; Registrar Orden Venta
			</a></li>
			<li><a th:href="@{/EmbarcarOrden}">&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="fa fa-ship"></i>&nbsp; Embarcar Orden Venta
			</a></li>
			<li class="text-white"><i class="fa fa-dolly"></i> Ordenes de
				Retiro</li>

			<li><a th:href="@{/RetirarContenido}">&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="fa fa-box-open"></i>&nbsp; Retirar Contenido
			</a></li>

		</ul>
	</div>
</body>
</html>