<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento Head -->
<head th:include="/Fragments/head :: headFragment('Registrar Muestra')"></head>
<body>
	<!-- Fragmento Carga -->
	<div th:include="/Fragments/head :: carga" id="imagenCarga" class="carga"></div>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar(${nombre}, ${planta})"></header>
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="sidebar-wrapper"
			th:include="/Fragments/navbar :: sidebar-wrapper"></div>
		<div class="page-content-wrapper">
			<!-- Contenido Principal -->
			<div class="container">
				<!-- Título de la Vista-->
				<div class="row">
					<div class="col-sm-6">
						<h1>
							<i class="fa fa-flask"></i><strong> Registrar Muestra</strong>
						</h1>
					</div>
					<div class="col-sm-4" style="margin: auto;">
						<span id="cantidadTotal">Cantidad Total: 0</span>
					</div>
					<div class="col-sm-2" style="margin: auto;">
						<button type="button" class="btn btn-primary" id="botonGuardar">Guardar
							Cambios</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-12">
						<!-- Card de Muestra -->
						<div class="card">
							<!-- Título de Card -->
							<div class="card-header">
								<h3>Información de la Muestra</h3>
							</div>
							<!-- Cuerpo de Card -->
							<div class="card-body ">
								<!-- Fila del Cuerpo-->
								<div class="col-sm-12 form-inline justify-content-center">
									<!-- Fecha -->
									<label for="fecha" class="col-sm-2">Fecha</label> <input
										type="date" class="form-control col-sm-2"
										placeholder="dd/mm/aaaa" id="fecha">
									<!-- Laboratorio -->
									<label for="laboratorio" class="col-sm-2">Laboratorio</label> <input
										type="text" class="form-control col-sm-2"
										placeholder="Ingrese Laboratorio" id="laboratorio">
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<!-- Informacion de Productos Terminados -->
					<div class="col-sm-12">
						<!-- Card de Contenido -->
						<div class="card">
							<!-- Título de Card -->
							<h3 class="card-header">Información del Productos Terminados</h3>
							<!-- Cuerpo de Card-->
							<div class="card-body">
								<!-- Barras de Navegación -->
								<ul class="nav nav-tabs" role="tablist">
									<!-- Barra de Presentaciones -->
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#tabla1"> <strong>Productos
												Terminados</strong>
									</a></li>
									<!-- Barra de Contenidos -->
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tabla2"> <strong>Productos Terminados
												Seleccionados</strong>
									</a></li>
								</ul>
								<hr>
								<!-- Tablas -->
								<div class="tab-content">
									<!-- Tabla de Producto Terminado -->
									<div id="tabla1" class="tab-pane active">
										<div class="table-responsive-sm">
											<table id="productoTerminado"
												class="table table-hover table-condensed table-bordered tablasercosta"
												style="width: 100%;">
												<!-- Cabecera de Tabla -->
												<thead>
													<tr>
														<td>Código de Producto Terminado</td>
														<td>Descripción</td>
														<td>Cantidad sin Muestrear</td>
														<td style="text-align: center;" align="center"></td>
													</tr>
												</thead>
											</table>
										</div>
									</div>
									<!-- Tabla Productos Terminados Seleccionados-->
									<div id="tabla2" class="tab-pane">
										<div class="table-responsive-sm">
											<table id="productoSeleccionadoTabla"
												class="table table-hover table-condensed table-bordered tablasercosta"
												style="width: 100%;">
												<!-- Cabecera de Tabla -->
												<thead>
													<tr>
														<td class="text-center">Código de Producto Terminado
															Seleccionado</td>
														<td class="text-center">Descripción</td>
														<td class="text-center">Cantidad a Muestrear</td>
														<td class="text-center"></td>
													</tr>
												</thead>
											</table>
										</div>
									</div>
									<!--Modal Agregar-->
									<div class="modal fade" id="modalAgregar" tabindex="-1"
										role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="tituloModal">Producto
														Terminado:</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<label>¿Desea elegir este Producto Terminado?</label>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														id="botonAgregar">Agregar</button>
													<button type="button" class="btn btn-danger"
														data-dismiss="modal">Cerrar</button>
												</div>
											</div>
										</div>
									</div>
									<!--Modal Registro Exitoso-->
									<div class="modal fade" id="modalTerminarRegistro"
										tabindex="-1" role="dialog" aria-labelledby="tituloModal"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content alert alert-success">
												<div class="modal-header">
													<h5 class="modal-title" id="tituloModal">Registrar
														Muestra de Contenido</h5>
												</div>
												<div class="modal-body">
													<form class="form-inline justify-content-center"
														role="form">
														<!--<img class="mb-2 mr-sm-3 img-fluid" th:src="@{/imagen/check.png}" alt="Chania" width="70" height="70">-->
														<label for="exito" class="mb-2 mr-sm-3">¡Registro
															Exitoso!</label>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-success"
														data-dismiss="modal" id="botonAceptar">Aceptar</button>
												</div>
											</div>
										</div>
									</div>
									<!-- Modal Error -->
									<div class="modal fade" id="modalError" tabindex="-1"
										role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content alert alert-danger">
												<div class="modal-header">
													<h5 class="modal-title" id="tituloModal">Error</h5>
												</div>
												<div class="modal-body">
													<span id="mensajeError"></span>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-danger"
														data-dismiss="modal">Cerrar</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fragmento Footer -->
			<div th:include="/Fragments/head :: footer"></div>
		</div>
	</div>
	<!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
	<script th:src="@{/js/registrarmuestra.js}"></script>
</body>
</html>