<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="/Fragments/head :: headFragment('Ver Saldo Presentacion')"></head>
<body>
	<!-- Fragmento Carga -->
	<div th:include="/Fragments/head :: carga" id="imagenCarga" class="carga"></div>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar(${nombre}, ${planta})"></header>
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="sidebar-wrapper"
			th:include="/Fragments/navbar :: sidebar-wrapper"></div>
		<div class="page-content-wrapper">
			<!-- Contenido Principal -->
			<div class="container">
				<!-- Título de la Vista-->
				<div class="row">
					<div class="col-sm-10">
						<h1>
							<i class="fa fa-clipboard"></i><strong> Escoger Presentación</strong>
						</h1>
					</div>
				</div>
				<hr>
				<div class="card">
					<!-- Header de Card Ordenes-->
					<div class="card-header">
						<div class="row">
							<div class="col-sm-10">
								<h2>
									<strong>Presentaciones</strong>
								</h2>
							</div>
						</div>
					</div>
					<!-- Cuerpo de Card-->
					<div class="card-body">
						<div class="table-responsive-sm">
							<!-- Tablas -->
							<table id="presentacionesTabla"
								class="table table-hover table-condensed table-bordered tablasercosta"
								style="width: 100%;">
								<!-- Cabecera de Tabla -->
								<thead>
									<tr>
										<th>Código SAP</th>
										<th>Descripción</th>
										<th>Cantidad</th>
										<th>Comprometido</th>
										<th>Saldo</th>
										<th align="center"></th>
										<th align="center"></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<!-- Modal Elegir 1-->
				<div class="modal fade" id="modalConfirmar" tabindex="-1"
					role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Presentación:</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<label>¿Desea elegir esta Presentación?</label>
							</div>
							<div class="modal-footer">
								<button id="botonAceptar" type="button" class="btn btn-primary">Aceptar</button>
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			    <!-- Modal Elegir 2-->
				<div class="modal fade" id="modalConfirmar1" tabindex="-1"
					role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal1">Presentación:</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<label>¿Desea elegir esta Presentación?</label>
							</div>
							<div class="modal-footer">
								<button id="botonAceptar1" type="button" class="btn btn-primary">Aceptar</button>
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal Error -->
				<div class="modal fade" id="modalError" tabindex="-1" role="dialog"
					aria-labelledby="tituloModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content alert alert-danger">
							<div class="modal-header">
								<h5 class="modal-title" id="tituloModal">Error</h5>
							</div>
							<div class="modal-body">
								<span id="mensajeError"></span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fragmento Footer -->
			<div th:include="/Fragments/head :: footer"></div>
		</div>
	</div>
	<!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
	<script th:src="@{/js/verPresentacionSaldo.js}"></script>
</body>
</html>