<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Embarcar Asignación</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/data-tables/datatables.min.css}" rel="stylesheet" type="text/css">
   	<!-- Estilos de Sercosta -->
    <link th:href="@{/style/tablasercosta.css}" rel="stylesheet" type="text/css">
</head>

<body>	
	
   <hr>

    <div class="container">       
	        <!-- Información del Lote -->
            <div class="row">
	            <div class="col-sm-12">
	                <!-- Card de Lote -->
	                <div class="card">
	                    <!-- Título de Card -->
	                    <div class="card-header">
	                            <h3>Información de la Orden</h3>
	                    </div>
	                    <!-- Cuerpo de Card -->
	                    <div class="card-body">
	                        <!-- Fila del Cuerpo-->
	                        <div class="col-sm-15 form-inline justify-content-center">
							<!-- Código de Orden-->
	                            <label for="codigo" class="col-sm-2">Código Orden</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="codigo" disabled>
	                        <!-- Tipo de Certificado-->
	                            <label for="certificado" class="col-sm-2">Tipo de Certificado</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="certificado" disabled>
	                            <!-- Fecha de Embarco -->
	                            <label for="fechaE" class="col-sm-2">Fecha de Embarco</label>
	                            <input type="date" class="form-control col-sm-2" 
	                                    placeholder="dd/mm/aaaa" id="fechaE">
	                            <!-- Cliente -->
	                            <label for="cliente" class="col-sm-2">Cliente</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="cliente" disabled>   
	                            <!-- Planta Productora-->
	                            <label for="planta" class="col-sm-2">Planta Productora</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="planta" disabled>  
	                            <!-- Hora de Embarco -->
	                            <label for="hora" class="col-sm-2">Hora de Embarco</label>
	                            <input type="time" class="form-control col-sm-2" 
	                                    placeholder="hh:mm a.m" id="hora">   
	                            <!-- Fecha de Asignacion -->
	                            <label for="fechaA" class="col-sm-2">Fecha de Asignacion</label>
	                            <input type="date" class="form-control col-sm-2" 
	                                    id="fechaA" disabled>
	                            <!-- Destino -->
	                            <label for="destino" class="col-sm-2">Destino</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    placeholder="Ingrese destino" id="destino"> 
	                            <!-- Lugar de Embarco -->
	                            <label for="lugarE" class="col-sm-2">Lugar de Embarco</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    placeholder="Ingrese embarco" id="lugarE"> 
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
            <hr> 
            <!-- Información del Contenido -->
            <div class="row">
	            <div class="col-sm-12">
	                <!-- Card de Contenido -->
	                <div class="card">
	                    <!-- Título de Card -->
	                    <h3 class="card-header">Información del la Asignación</h3>
	                    <!-- Cuerpo de Card-->
	                    <div class="card-body">	                    		            	
			            <!-- Tablas -->
	                    	<div class="tab-content">
		                    	<!-- Tabla de Presentacion -->
		                    	<div id="tabla1" class="tab-pane active">
			                    	<div class="table-responsive-sm">
			                            <table id="asignacionesTabla" class="table table-hover table-condensed table-bordered">
			                            <!-- Cabecera de Tabla -->
			                                <thead>
			                                 	<tr>
			                                        <th>Lote</th>
			                                        <th>OT</th>
			                                        <th>Código SAP</th>
			                                        <th>Descripción</th>
			                                        <th>Cantidad solicitada</th>
			                                        <th>Saldo</th>
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                	<tr>
			                                        <td>Lote</td>
			                                        <td>OT</td>
			                                        <td>Código SAP</td>
			                                        <td>Descripción</td>
			                                        <td>Cantidad solicitada</td>
			                                        <td>Saldo</td>
			                                    </tr>
			                                </tbody>
			                            </table>  
			                    	</div>
		                    	</div>
		                    </div>

					        <div class="align-self-start">
					           <!-- Total -->
	                            <label for="total" class="col-sm-2">Total</label>
	                            <input type="text" class="form-control col-sm-2" 
	                                    id="total" disabled>
					        </div>

	                    </div>
	                </div>      
	            </div>
            </div>

            <div class="d-flex justify-content-end bd-highlight mb-3" >
	            <div class="p-2">
	            	<button type="button" class="btn btn-primary">Embarcar Asignacion</button>
	            </div>
	        </div>              
    </div>
    <!-- Scrips -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/data-tables/datatables.min.js}"></script>
   	<script th:src="@{/js/registrarlote.js}"></script>
</body>

</html>