<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Actualizar Orden</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/data-tables/datatables.min.css}" rel="stylesheet" type="text/css">
   	<!-- Estilos de Sercosta -->
    <link th:href="@{/style/tablasercosta.css}" rel="stylesheet" type="text/css">
</head>

<body>
	
    <div class="container">
            <!-- Título de la Vista-->
            <div class="row">
	            <div class="col-sm-10">
	                <h1><strong>Escoger Orden</strong></h1>
	            </div>
	        </div>

	        <div class="card">
	            <!-- Header de Card Ordenes-->
	            <div class="card-header">
	            	<div class="row">
		            <div class="col-sm-10">
		                <h2><strong>Órdenes</strong></h2>
		            </div>
		            <div class="col-sm-2" style="margin: auto;">
		            	<button type="button" class="btn btn-primary">Actualizar Orden</button>
		            </div>
	        </div>
	            </div>
	        </div> 

	        

	        <hr>	        
	       
            <!-- Información de las Ordenes -->
            <div class="row">
	            <div class="col-sm-12">
	                <!-- Card de Contenido -->
	                <div class="card">
	                    <!-- Cuerpo de Card-->
	                    <div class="card-body">	                    		            	
	                    	<!-- Tablas -->
	                    	
			                            <table id="ordenesTabla" class="table table-hover table-condensed table-bordered ">
			                            <!-- Cabecera de Tabla -->
			                                <thead>
			                                    <tr>
			                                        <th>Código de Orden</th>
			                                        <th>Cliente</th>
			                                        <th>Fecha de Asignación</th>
			                                        <th>Cantidad Total</th>
			                                        <th>Estado</th>
			                                        <!--<th></th>-->
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                	<tr>
			                                        <td>1234</td>
			                                        <td>aaa</td>
			                                        <td>121212</td>
			                                        <td>1212</td>
			                                        <td>121</td>
			                                        <!--<th></th>-->
			                                    </tr>
			                                </tbody>

			                            </table>  
			                    	</div>
		                    	
	                </div>      
	            </div>
            </div> 

            <div class="d-flex justify-content-end bd-highlight mb-3" >
	            <div class="p-2"	>
	            	<button type="button" class="btn btn-danger">Cancelar Orden</button>
	            </div>
	            <div class="p-2">
	            	<button type="button" class="btn btn-primary">Actualizar Orden</button>
	            </div>
	            <div class="p-2">
	            	<button type="button" class="btn btn-success">Embarcar Orden</button>
	            </div>
	        </div>         
    </div>
    <!-- Scrips -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/data-tables/datatables.min.js}"></script>
   	<script th:src="@{/js/registrarlote.js}"></script>
</body>

</html>