<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento Head -->
<head th:include="/Fragments/head :: headFragment('Embarcar Orden')"></head>
<body>
	<!-- Fragmento Navbar -->
	<header th:include="/Fragments/navbar :: navbar('Registrar Lote')"></header>
    <!-- Contenido Principal -->
	<div class="container">
		<!-- Título de la Vista-->
		<div class="row">
			<div class="col-sm-10">
				<h1>
					<strong>Embarcar Orden</strong>
				</h1>
			</div>
			<div class="col-sm-2" style="margin: auto;">
				<button type="button" class="btn btn-primary" id="embarcarOrden">Embarcar
					Orden</button>
			</div>
		</div>
		<hr>
		<!-- Información de la Orden -->
		<div class="row">
			<div class="col-sm-12">
				<!-- Card de Lote -->
				<div class="card">
					<!-- Título de Card -->
					<div class="card-header">
						<h3>Información de la Orden</h3>
					</div>
					<!-- Cuerpo de Card -->
					<div class="card-body">
						<!-- Fila del Cuerpo-->
						<div class="col-sm-15 form-inline justify-content-center">
							<!-- Código de Orden-->
							<label for="codigo" class="col-sm-2">Código Orden</label> <input
								type="text" class="form-control col-sm-2" th:value="${idOrden}"
								id="codigo" disabled>
							<!-- Tipo de Certificado-->
							<label for="certificado" class="col-sm-2">Tipo de
								Certificado</label> <input type="text" class="form-control col-sm-2"
								id="certificado" disabled>
							<!-- Fecha de Embarco -->
							<label for="fechaE" class="col-sm-2">Fecha de Embarco</label> <input
								type="date" class="form-control col-sm-2"
								placeholder="dd/mm/aaaa" id="fechaE">
							<!-- Cliente -->
							<label for="cliente" class="col-sm-2">Cliente</label> <input
								type="text" class="form-control col-sm-2" id="cliente" disabled>
							<!-- Planta Productora-->
							<label for="planta" class="col-sm-2">Planta Productora</label> <input
								type="text" class="form-control col-sm-2" id="planta" disabled>
							<!-- Hora de Embarco -->
							<label for="hora" class="col-sm-2">Hora de Embarco</label> <input
								type="time" class="form-control col-sm-2"
								placeholder="hh:mm a.m" id="hora">
							<!-- Fecha de Asignacion -->
							<label for="fechaA" class="col-sm-2">Fecha de Asignacion</label>
							<input type="date" class="form-control col-sm-2" id="fechaA"
								disabled>
							<!-- Lugar de Embarco -->
							<label for="total" class="col-sm-2">Total Asignado</label> <input
								type="text" class="form-control col-sm-2" id="total" disabled>
							<!-- Destino -->
							<label for="destino" class="col-sm-2">Destino</label> <input
								type="text" class="form-control col-sm-2"
								placeholder="Ingrese destino" id="destino">
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<!-- Información del Contenido -->
		<div class="row">
			<div class="col-sm-12">
				<!-- Card de Contenido -->
				<div class="card">
					<!-- Título de Card -->
					<h3 class="card-header">Información del la Asignación</h3>
					<!-- Cuerpo de Card-->
					<div class="card-body">
						<!-- Tablas -->
						<div class="tab-content">
							<!-- Tabla de Presentacion -->
							<div id="tabla1" class="tab-pane active">
								<div class="table-responsive-sm">
									<table id="asignacionesTabla"
										class="table table-hover table-condensed table-bordered"
										style="width: 100%;">
										<!-- Cabecera de Tabla -->
										<thead>
											<tr>
												<th>Lote</th>
												<th>OT</th>
												<th>Código SAP</th>
												<th>Descripción</th>
												<th>Cantidad solicitada</th>
												<th>Saldo</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Éxito -->
		<div class="modal fade" id="modalExito" tabindex="-1" role="dialog"
			aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content alert alert-success">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Éxito</h5>
					</div>
					<div class="modal-body">
						<span>La Orden de Venta se embarcó con éxito.</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Error -->
		<div class="modal fade" id="modalError" tabindex="-1" role="dialog"
			aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content alert alert-danger">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Error</h5>
					</div>
					<div class="modal-body">
						<span id="mensajeError"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Confirmación -->
		<div class="modal fade" id="modalConfirmar" tabindex="-1"
			role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloModal">Orden:</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<label>¿Desea embarcar esta orden?</label>
					</div>
					<div class="modal-footer">
						<button id="botonConfirmar" type="button" class="btn btn-primary">Aceptar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fragmento Footer -->
    <div th:include="/Fragments/head :: footer"></div>    
    <!-- Scripts -->
	<div th:include="/Fragments/head :: scripts"></div>
	<script th:src="@{/js/embarcarorden2.js}"></script>
</body>
</html>